
/* ---------------------------------
		CSS RESET
--------------------------------- */
*::before, *::after {box-sizing: border-box;}
*{margin: 0px; padding: 0px; box-sizing: border-box;}
html, body {width: 100%; height: 100%;}
html:focus-within {scroll-behavior: smooth;} /* Smooth scrolling */
ul {list-style: none;}
img, picture, video, canvas, svg {display: block; max-width: 100%; /* height: auto; */}
input, button, textarea, select {font: inherit;} /* Form elements inherit fonts */


/* --------------------------------
		Fonts
-------------------------------- */
/* ----- Poppins ----- */
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}
/* ----- Nunito ----- */
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
}


/* --------------------------------
    Body
-------------------------------- */
body {font-family: 'Nunito', sans-serif; font-size: 16px; margin: 0px; color: #f1f1f1; min-height: 100vh;}


/* --------------------------------
    Header
-------------------------------- */
header{width: 100%; background: linear-gradient(135deg, #ff6a00 20%, #ff8f00 70%, #ff8f00 20%);
  /*height: 100vh; background-color: #ff6a00;	// ffa500 f26500 fff3e8 orangered */
	/*background: linear-gradient(135deg, #ff6a00, #ff9a3c); background: linear-gradient(135deg, #e65100, #ff6a00); */
	/*background: linear-gradient(to right, #ff6a00, #ffa751); 
  background: radial-gradient(circle at top left, #ff9a3c, #ff6a00);*/}


/* --------------------------------
    Navbar
-------------------------------- */
.navbar {height: 15vh; padding: 0 30px; display: flex; align-items: center; position: relative;
  transition: all 0.3s ease; /*border-bottom: 1px solid #ff8f00;*/}
.navbar.sticky{position: fixed; top: 0; left: 0; width: 100%;
  background: linear-gradient(135deg, #ff6a00 20%, #ff8f00 70%, #ff8f00 20%); box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  animation: slideDown 0.3s ease; z-index: 9999;}
/* smooth slide animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.navbar a{text-decoration: none;}
.navbar .logo {font-family: 'Poppins', sans-serif; font-size: 35px; font-weight: 800; letter-spacing: 0px; color: #1a1a1a;
  text-transform: uppercase;
  /* Premium depth */
  text-shadow: 0 2px 0 rgba(0,0,0,0.15), 0 6px 15px rgba(0,0,0,0.25); position: relative; margin-left: 14% !important;}
/* Highlight "Up" */
.logo span {color: #fff3d6; text-shadow: 0 0 10px rgba(255,255,255,0.6), 0 0 20px rgba(255,180,80,0.6);}
/* Menu center Desktop */
.menu {position: absolute; left: 51%; transform: translateX(-50%); display: flex; gap: 30px;}
.menu a {font-family: 'Poppins', sans-serif; font-weight: 400; color: #ffffff; text-decoration: none; font-size: 15px;
  letter-spacing: 1px; text-transform: uppercase; position: relative; padding-top: 10px; padding-bottom: 10px;}
.menu a.active {color: #1b1b1b; /* highlight color *//* font-weight: bold; */}
.menu a:hover {color: #2b1d12;}
/* underline */
.menu a::after {content: ""; position: absolute; left: 0; bottom: 0; width: 0%; height: 1px; background-color: #2b1d12;
  transition: width 0.3s ease;}
/* hover effect */
.menu a:hover::after {width: 100%;}
/* Icon */
.menu-icon {margin-left: auto; font-size: 30px; padding-right: 5%; cursor: pointer; display: none;}


/* --------------------------------
    Slider
-------------------------------- */
.slider-section{width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;
  background: linear-gradient(135deg, #ff6a00 0%, #ff8f00 50%, #ffb347 100%); position: relative;}
/* ----- Slice Drink ----- */
#slice-drink{position: absolute; width: 35%;	top: 2%; left: 3%; z-index: 1; will-change: transform;}
#slice-mango{position: absolute; width: 28%; left: 5%;	top: 50%; z-index: 2; will-change: transform;}
/* ----- Fanta Drink ----- */
#fanta-drink{position: absolute; width: 44%; left: 28%; top: 17%; will-change: transform;}
#fanta-orange-slice{position: absolute; top: 2%; left: 35%; width: 16%; will-change: transform;}
/* ----- 7UP Drink ----- */
#seven-up-drink{position: absolute; width: 33%; top: 0%; left: 53%; will-change: transform;}
#seven-up-lemon-slice{position: absolute; width: 23%; top: 35%; left: 71%; transform: scaleX(-1); z-index: 1; 
  will-change: transform;} /* "will-change: transform" For GSAP smooth animation */


/* --------------------------------
    About Section
-------------------------------- */
.about-section{background-color: #0f0f0f; padding: 70px;}
/* ----- Heading ----- */
.about-heading {text-align: center; margin-bottom: 50px;}
.section-title {font-family: 'Poppins', sans-serif; font-size: clamp(32px, 4vw, 44px); font-weight: 600; color: #f1f1f1;
  text-transform: uppercase; margin-bottom: 10px;}
.section-title span {color: #ff8f00;}
.section-subtitle {font-family: 'Nunito', sans-serif; color: #ccc; margin: 0 auto; letter-spacing: 1px;}
/* ----- 2 Column Layout ----- */
.about-content {display: grid; grid-template-columns: 2fr 1fr; gap: 50px; align-items: center;}
/* ----- Left Column ----- */
.about-text h3 {font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: 500; color: #d1d1d1;
  margin-bottom: 15px; letter-spacing: 1px;}
.about-text p {font-family: 'Nunito', sans-serif; font-size: 16px;
  color: #777777; line-height: 1.5; margin-bottom: 15px;}
/* ----- Right Column ----- */
.about-image img {width: 70%; border-radius: 12px; display: block; margin: 0px auto;}


/* --------------------------------
    Product Section
-------------------------------- */
.product-section{background-color: #fff7f0; padding: 70px;}
/* ----- Heading ----- */
.product-heading {text-align: center; margin-bottom: 50px;}
.product-title {font-family: 'Poppins', sans-serif; font-size: clamp(32px, 4vw, 44px); font-weight: 600; color: #1b1b1b;
  text-transform: uppercase; margin-bottom: 10px;}
.product-title span {color: #ff8f00;}
.product-subtitle {font-family: 'Nunito', sans-serif; color: #1b1b1b; margin: 0 auto; letter-spacing: 1px;}
.product-wrapper {display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px;}
.product-box {background-color: #ffffff; border-radius: 20px; padding: 30px 20px; text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08); background: linear-gradient(180deg, #ffffff, #f6f6f6); width: 100%;
  height: 100vh; display: flex; flex-direction: column; justify-content:flex-end;}
/* .product-box:hover {transform: translateY(-6px); box-shadow: 0 25px 60px rgba(0,0,0,0.18);} */
.product-box h3 {font-size: 23px; font-weight: 600; color: #1b1b1b; margin-bottom: 2px;}
.product-box p {font-size: 14px; color: #444444; margin-bottom: 5px;}
.product-box button {margin-top: 10px; padding: 12px; width: 150px; text-align: center !important; border: none;
  border-radius: 10px; background: linear-gradient(135deg, #ff9f1c, #ff6f00); color: #ffffff; font-size: 15px; 
  font-weight: 600; cursor: pointer; transition: background 0.2s ease, transform 0.2s ease;
  text-transform: uppercase; align-self: center; /* center horizontally */}
.product-box button:hover {background: linear-gradient(135deg, #ff6f00, #ff9f1c); transform: translateY(-2px);}


/* --------------------------------
    Recipe Section
-------------------------------- */
.recipe-section{background: linear-gradient(135deg, #e8f5e9, #f1f8e9); padding: 70px;}
.recipe-heading{text-align: center; margin-bottom: 50px;}
.recipe-title{font-family: 'Poppins', sans-serif; font-size: clamp(32px, 4vw, 44px); font-weight: 600; color: #1b1b1b; 
    text-transform: uppercase; margin-bottom: 10px;}
.recipe-title span{color: #ff8f00;}
.recipe-subtitle{font-family: 'Nunito', sans-serif; color: #1b1b1b; margin: 0 auto; letter-spacing: 1px;}
.recipe-wrapper{display: grid; grid-template-columns: repeat(3, 1fr); gap: 50px;}
.recipe-box{background-color: #f1f1f1; padding: 30px; border-radius: 16px; box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  display: flex; flex-direction: column; transition: transform 0.3s ease, box-shadow 0.3s ease;}
.recipe-box:hover{transform: translateY(-6px); box-shadow: 0 18px 40px rgba(0,0,0,0.12); background-color: #ffffff;}
.recipe-box h3{font-family: 'Poppins', sans-serif; font-size: 23px; margin-bottom: 12px; color: #ff8f00;
  text-align: center;}
.recipe-box span{font-family: 'Nunito', sans-serif; font-size: 20px; margin-bottom: 12px; color: #222222; 
  text-align: center;}
.recipe-box p{font-family: 'Nunito', sans-serif; color: #555555; line-height: 1.2; font-size: 15px; margin-bottom: 15px;}
.recipe-box ul{padding-left: 15px; margin-bottom: 20px;}
.recipe-box ul li{font-family: 'Nunito', sans-serif; margin-bottom: 2px; color: #1b1b1b; font-size: 15px;}
.recipe-box button{margin-top: auto; background: #ff8f00; color: #ffffff; border: none; padding: 12px 20px;
  border-radius: 30px; font-family: 'Poppins', sans-serif; text-transform: uppercase; cursor: pointer;
  letter-spacing: 1px; width: 100%; text-align: center;}
.recipe-box button:hover{background: #e67e00; transform: scale(1.05);}


/* --------------------------------
    Footer Section
-------------------------------- */
.site-footer{background-color: #000000; color: #ddd; font-family: 'Nunito', sans-serif;}
.footer-container{ max-width: 1200px; margin: auto; padding: 70px 20px 50px; display: grid;
  grid-template-columns: repeat(4, 1fr); gap: 40px;}
.footer-brand h2{font-family: 'Poppins', sans-serif; font-size: 28px; color: #ffffff;}
.footer-brand h2 span{color: #ff8f00;}
.footer-brand p{margin-top: 15px; line-height: 1.6; color: #bbbbbb; font-size: 14px;}
/* Links */
.footer-links h4, .footer-social h4{font-size: 20px; margin-bottom: 15px; padding-bottom: 10px; color: #ffffff;
  border-bottom: 1px solid #222222; width: 50%;}
.footer-links ul{padding: 0;}
.footer-links ul li{margin-bottom: 5px;}
.footer-links ul li a{text-decoration: none; color: #bbbbbb; transition: color 0.3s ease}
.footer-links ul li a:hover{color: #ff8f00;}
/* Social */
.social-icons{display: flex; flex-direction: column; gap: 10px;}
.social-icons a{color: #bbb; text-decoration: none; transition: color 0.3s ease, transform 0.3s ease;}
.social-icons a:hover{color: #ff8f00; transform: translateX(5px);}
/* Bottom */
.footer-bottom{background-color: #000000; border-top: 1px solid #1b1b1b; text-align: center; padding: 15px 10px;
  font-size: 12px; color: #777777; letter-spacing: 1px;}
.footer-brand .logo {font-family: 'Poppins', sans-serif; font-size: 35px; font-weight: 800; letter-spacing: 0px;
  color: #ff6a00; text-decoration: none;}


/* ==================================
    Responsive (Industry standard)
================================== */

@media (max-width: 600px){
  .recipe-wrapper{grid-template-columns: 1fr;}
  .recipe-section{padding: 40px 20px;}
  .recipe-title{font-size: 28px;}
  .recipe-subtitle{font-size: 14px;}
  .recipe-box{padding: 24px;}
  .footer-container{grid-template-columns: 1fr; text-align: center;}
  .social-icons{align-items: center;}
}

@media (max-width: 768px) {
  .menu {position: fixed; top: 70px; left: 0; transform: none; width: 100%; background: #555; flex-direction: column;
    align-items: center; gap: 20px; padding: 20px 0; display: none; z-index: 9999;}
  .menu.active {display: flex;}
  .menu-icon {display: block;}
  .about-content {grid-template-columns: 1fr;}
  .about-heading {text-align: left;}
}

@media (max-width: 992px) {
  .product-wrapper {grid-template-columns: 1fr;}
  .footer-container{grid-template-columns: repeat(2, 1fr);}
}

@media (max-width: 1024px) {
  .recipe-wrapper{grid-template-columns: repeat(2, 1fr);}
  .recipe-section{padding: 50px 30px;}
}

/* Extra Small Mobile */
@media (max-width: 359px) {

}

/* Small Mobile */
@media (min-width: 360px) and (max-width: 480px) {

}

/* Large Mobile */
@media (min-width: 481px) and (max-width: 768px) {

}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar .logo {font-size: 25px; margin-left: 10% !important;}
  .menu {left: 60%; gap: 20px;}
  .slider-section{height: 60vh;}
  #slice-mango{left: 6%;  top: 44%; will-change: transform;}
  .about-image img {width: 100%;}
  .about-content {grid-template-columns: 1.5fr 1fr; gap: 50px; }
  .product-wrapper {grid-template-columns: repeat(2, 1fr); gap: 30px;}
  /* adjust 3rd colum in center as needed */
  /*.product-wrapper > :nth-child(3) {grid-column: 1 / -1; justify-self: center; max-width: 50%;}*/
}

/* Snall Desktop */
@media (min-width: 1025px) and (max-width: 1200px) {

}

/* Large Desktop */
@media (min-width: 1201px) {

}


/* --------------------------------
    End
s-------------------------------- */